@tailwind base;
@tailwind components;
@tailwind utilities;

.toastBody {
  font-size: 1rem;
}

/* .toast {
  width: fit-content !important;
  height: fit-content;
} */

.toastProgress {
  background: #ffffff !important;
}

.ql-container {
  border: none !important;
  font-size: 16px;
}

.ql-editor {
  min-height: 100%;
}
