@tailwind base;
@tailwind components;
@tailwind utilities;

.toastBody {
  font-size: 1rem;
}

/* .toast {
  width: fit-content !important;
  height: fit-content;
} */

.toastProgress {
  background: #ffffff !important;
}
